Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

Replace getObject for pageData with multiGetObjects
  portal/common/lib/resource.ts
  portal/pnpm-lock.yaml
Due: none

Fix first test from resource.test.ts
  portal/common/lib/resource.test.ts
Due: none

Remove async from checkRedirect
  portal/common/lib/redirects.ts
  portal/common/lib/resource.ts
Due: none

perf: replace getObject for pageData with multiGetObjects (#270)
  portal/common/lib/page_fetching.ts
  portal/common/lib/redirects.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/pnpm-lock.yaml
Due: none

Fix error message
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump builder version
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): check in walrus config for sites-config.yaml
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use all the paths that the Walrus CLI uses
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Refactor: create path_or_defaults_if_exist based on the walrus repo
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update Cargo.lock
  Cargo.lock
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Throw error when $HOME is not defined
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Pattern match the longest header instead of simple get - WIP
  examples/snake/ws-resources.json
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use a regex for matching header patterns to files
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Refactor: create derive_http_headers
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add comments
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: full-node fallback by instantiating a Sui client for each rpc url
  portal/common/lib/constants.ts
  portal/common/lib/node_selector.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/suins.test.ts
  portal/common/lib/suins.ts
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

feat: change selection flow
  portal/common/lib/node_selector.ts
Due: none

feat: change flow and fix response validation
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.ts
  portal/worker/src/caching.ts
Due: none

refactor(core): rename callClients to invokeWithFailover
  portal/common/lib/rpc_selector.ts
Due: none

Check if XDG_CONFIG_HOME exists before checking for $HOME
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: check default directories
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Scaffold c4
  c4/.structurizr/1/images/Diagram1-thumbnail.png
  c4/.structurizr/1/images/Diagram2-thumbnail.png
  c4/.structurizr/1/images/thumbnail.png
  c4/.structurizr/index/_4.cfe
  c4/.structurizr/index/_4.cfs
  c4/.structurizr/index/_4.si
  c4/.structurizr/index/segments_5
  c4/.structurizr/index/write.lock
  c4/README.md
  c4/workspace.dsl
  c4/workspace.json
Due: none

refactor: check default directories (#282)
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Rename elemenets of blueprint
  c4/.structurizr/1/images/Diagram1-thumbnail.png
  c4/.structurizr/1/images/Diagram2-thumbnail.png
  c4/.structurizr/1/images/thumbnail.png
  c4/.structurizr/index/_4.cfe
  c4/.structurizr/index/_4.cfs
  c4/.structurizr/index/_4.si
  c4/.structurizr/index/_f.cfe
  c4/.structurizr/index/_f.cfs
  c4/.structurizr/index/_f.si
  c4/.structurizr/index/segments_5
  c4/.structurizr/index/segments_g
  c4/workspace.dsl
  c4/workspace.json
Due: none

Add portals and structure the C4
  c4/.structurizr/1/images/Diagram1-thumbnail.png
  c4/.structurizr/1/images/Diagram2-thumbnail.png
  c4/.structurizr/1/images/Diagram3-thumbnail.png
  c4/.structurizr/1/images/PortalView-thumbnail.png
  c4/.structurizr/1/images/WalrusSitesView-thumbnail.png
  c4/.structurizr/1/images/thumbnail.png
  c4/.structurizr/index/_1c.cfe
  c4/.structurizr/index/_1c.cfs
  c4/.structurizr/index/_1c.si
  c4/.structurizr/index/_f.cfe
  c4/.structurizr/index/_f.cfs
  c4/.structurizr/index/_f.si
  c4/.structurizr/index/segments_1d
  c4/.structurizr/index/segments_g
  c4/workspace.dsl
  c4/workspace.json
Due: none

Add more elements
  c4/.structurizr/1/images/PortalView-thumbnail.png
  c4/.structurizr/1/images/SmartContractView-thumbnail.png
  c4/.structurizr/1/images/SystemView-thumbnail.png
  c4/.structurizr/1/images/WalrusSitesView-thumbnail.png
  c4/.structurizr/index/_1c.cfe
  c4/.structurizr/index/_1c.cfs
  c4/.structurizr/index/_1c.si
  c4/.structurizr/index/_1s.cfe
  c4/.structurizr/index/_1s.cfs
  c4/.structurizr/index/_1s.si
  c4/.structurizr/index/segments_1d
  c4/.structurizr/index/segments_1t
  c4/workspace.dsl
  c4/workspace.json
Due: none

feat(site-builder): add option to limit parallel blob ID computation
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): check in walrus config for sites-config.yaml (#266)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove match from Regex::new
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Cast headers to lowercase once in ResourceManager constructor
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Refactor derive_http_headers: remove reduce etc
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Create is_pattern_match and add unit tests
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add comments to tests
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Ignore test_derive_http_headers
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove redundant argument from setup_resource_manager_mock
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
