Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

feat(portal): migrate portal configuration from env vars to YAML (#665)
  .gitignore
  portal/bun.lock
  portal/common/package.json
  portal/docker/server/Dockerfile
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/portal-config.mainnet.example.yaml
  portal/server/portal-config.testnet.example.yaml
  portal/server/src/allowlist_checker.ts
  portal/server/src/blocklist_checker.ts
  portal/server/src/config.ts
  portal/server/src/configuration_loader.test.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/main.ts
  portal/server/src/url_fetcher_factory.ts
  portal/server/src/utils.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/webpack.config.common.js
  scripts/local-docker-portal.sh
Due: none

chore: Bum minor version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Bum minor version (#670)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Do not update cache from FN reads, only from executions
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(ci): use walrus-automerge app token for auto-merge
  .github/workflows/gen-version-bump-pr.yml
Due: none

fix(ci): add reviewers to version bump PRs
  .github/workflows/gen-version-bump-pr.yml
Due: none

fix(ci): use walrus-automerge app token and add reviewers to version bump PRs (#672)
  .github/workflows/gen-version-bump-pr.yml
Due: none

fix(site-builder): prevent PTB byte-size overflow for large sites
  site-builder/src/site/builder.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): retry on Sui object version conflicts
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): accept newer object versions in cache verification
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cleanup
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

bail when the cached version is smaller than the FN's
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix lint
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Depend on Sui const instead of hardcoding -32002
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Test that is_object_version_conflict matches real Sui FN errors
  site-builder/src/unit_tests/site.manager.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Deduplicate retry-on-version-conflict into a function
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add generic output to ptb_building function to handle iters "side-effects"
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update the ptb size estimation and remove deferred routes
  site-builder/src/site/builder.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.builder.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo fmt
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Reset max-move-calls to 1000
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use method chaining instead of redeclaring variable
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add red-green test about exceeding ptb-size
  site-builder/src/site/builder.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish_large_paths.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Variable shadowing and code-syntax changes
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add test to this feature
  site-builder/src/unit_tests/site.manager.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): retry on Sui object version conflicts (#660)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.manager.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Nit: Update error message phrasing
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use consts instead of magic numbers
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add tests for BCS sizes consts
  site-builder/src/site/builder.rs
  site-builder/src/unit_tests/site.builder.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): prevent PTB byte-size overflow for large sites (#674)
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.builder.tests.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish_large_paths.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(ci): auto-detect Sui version when bumping Walrus alone
  .github/workflows/gen-version-bump-pr.yml
Due: none

Truncate walrus commit-sha only when not a release
  .github/workflows/gen-version-bump-pr.yml
Due: none

Write tag not rev on Cargo.toml when available from walrus
  scripts/bump_versions.sh
Due: none

Fix sed expression (pipe character)
  scripts/bump_versions.sh
Due: none

Bump minor version to 2.7.0
  Cargo.lock
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump minor version to 2.7.0 (#680)
  Cargo.lock
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: use automerge token for git push to trigger CI on version bump PRs
  .github/workflows/gen-version-bump-pr.yml
Due: none

ci: use automerge token for git push to trigger CI on version bump PRs (#681)
  .github/workflows/gen-version-bump-pr.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
