Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

Support reading blobs and quilts from test-cluster testing
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): catch errors in site ptb earlier (#541)
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): add more checks for tx failure
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): Retrieve quilt based resources (#536)
  portal/bun.lock
  portal/common/lib/aggregator.test.ts
  portal/common/lib/aggregator.ts
  portal/common/lib/quilt.test.ts
  portal/common/lib/quilt.ts
  portal/common/lib/redirects.test.ts
  portal/common/lib/redirects.ts
  portal/common/lib/url_fetcher.ts
  portal/server/package.json
  portal/worker/src/walrus-sites-sw.ts
Due: none

feat(portal): Update domain parsing logic and tests for parse-domain@8.2.2
  portal/bun.lock
  portal/common/lib/domain_parsing.suffix_mock.test.ts
  portal/common/lib/domain_parsing.test.ts
  portal/common/lib/domain_parsing.ts
  portal/common/package.json
Due: none

Refactor splitUrl tests to cover wal.app suffix cases
  portal/common/lib/domain_parsing.suffix_mock.test.ts
Due: none

Remove unused _parseDomain import and minor cleanup
  portal/common/lib/domain_parsing.suffix_mock.test.ts
  portal/common/lib/domain_parsing.test.ts
  portal/common/lib/domain_parsing.ts
Due: none

Remove unecessary _parseDomain wrapper
  portal/common/lib/domain_parsing.ts
Due: none

Refactor domain_parsing tests to use test.each instead
  portal/common/lib/domain_parsing.test.ts
Due: none

fix: attempt to fix sonarqube 0 coverage flase report
  sonar-project.properties
Due: none

feat(portal): Update domain parsing logic and tests for parse-domain@8.2.2 (#538)
  portal/bun.lock
  portal/common/lib/domain_parsing.suffix_mock.test.ts
  portal/common/lib/domain_parsing.test.ts
  portal/common/lib/domain_parsing.ts
  portal/common/package.json
Due: none

fix(site-builder): add more checks for tx failure (#542)
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Test blobs and quilts stored with site-builder match the resources hash
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Rename Commands::QuiltsPublish to PublishQuilts
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix resource-additions-per ptb, add test of multiple quilts per site
  site-builder/src/site/manager.rs
  site-builder/tests/localnode/args_builder.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  sonar-project.properties
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, cargo fmt
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, typo
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Set publish-quilts only available with quilts feature
  .github/workflows/code.yml
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Split quilts tests from publish. Also use --all-features instead of full
  .github/workflows/code.yml
  site-builder/Cargo.toml
  site-builder/tests/publish.rs
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(service-worker): use `toString` at html templates to fix build fails
  portal/common/lib/http/http_error_responses.ts
Due: none

fix(service-worker): use `toString` at html templates to fix build fails (#545)
  portal/common/lib/http/http_error_responses.ts
Due: none

feat(site-builder): Add walrus-quilt specific commands (#524)
  site-builder/src/args.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
  site-builder/src/walrus/types.rs
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Group files to quilts (#537)
  .github/workflows/code.yml
  Cargo.lock
  rust-toolchain.toml
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/output.rs
  site-builder/src/walrus/types.rs
  site-builder/tests/localnode/args_builder.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  site-builder/tests/publish_quilts.rs
  sonar-project.properties
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo fmt
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update Cargo.lock
  Cargo.lock
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Rename feature quilts to quilts-experimental
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Sew 247 site builder publish using quilts (#544)
  .github/workflows/code.yml
  Cargo.lock
  rust-toolchain.toml
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
  site-builder/src/walrus/types.rs
  site-builder/tests/localnode/args_builder.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  site-builder/tests/publish_quilts.rs
  sonar-project.properties
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): bump versions
  Cargo.toml
  portal/server/package.json
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): bump versions (#546)
  Cargo.toml
  portal/server/package.json
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(sw-porta): Bump sw-portal version
  portal/worker/package.json
Due: none

chore(sw-portal): Bump sw-portal version (#547)
  portal/worker/package.json
Due: none

feat: add site builder config path to error output
  site-builder/src/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cicd(deploy-action): Fix inputs usage
  .github/actions/deploy/action.yml
Due: none

ci(deploy-action): Fix inputs usage (#550)
  .github/actions/deploy/action.yml
Due: none

Update description
  .github/actions/deploy/action.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
