Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

fix(scripts): drop cargo update from bump_versions.sh
  scripts/bump_versions.sh
Due: none

fix(site-builder): match new Sui object version conflict error format
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: add sui/mvr probe step to surface mvr's hidden errors
  .github/workflows/code.yml
Due: none

Remove walrus package_id from sites-config.yaml
  sites-config.yaml
Due: none

fix: Remove walrus package_id from sites-config.yaml (#710)
  sites-config.yaml
Due: none

chore: bump sui walrus deps (#707)
  .github/workflows/code.yml
  Cargo.lock
  scripts/bump_versions.sh
  site-builder/Cargo.toml
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.9.1 (#711)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(portal): don't bump FN-fail counter for unregistered SuiNS names
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
Due: none

fix(portal): handle notExists at RPCSelector level, stop retrying
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
Due: none

bunx prettier
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
Due: none

fix(portal): narrow ExecuteResult before reading value in test mock
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
Due: none

test(portal): remove dead scaffolding from notExists test
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
Due: none

fix: portal suins fn failures (#709)
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
Due: none

chore: bump sui to testnet-v1.72.1, walrus to f39a84f0
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/util.tests.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: trim grpc-migration TODO in SiteManager
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: rename update_cache_from_effects to update_cache_from_obj_changes
  site-builder/src/publish.rs
  site-builder/src/unit_tests/util.tests.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): Update sui walrus deps (#713)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/util.tests.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.9.2
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.9.2 (#715)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(portal): hide aggregator executor behind worst-case query
  portal/common/lib/src/url_fetcher.ts
  portal/server/index.ts
  portal/server/src/url_fetcher_factory.ts
Due: none

bunx prettier
  portal/common/lib/src/priority_executor.ts
  portal/server/index.ts
  scripts/e2e-aggregator-timeout/mock-aggregator.ts
Due: none

feat(portal): configurable aggregator and idle timeouts, startup config log
  portal/common/lib/src/url_fetcher.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/index.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
Due: none

fix(portal): size Bun idleTimeout from aggregator retry budget
  portal/common/lib/src/priority_executor.ts
  portal/common/lib/src/url_fetcher.ts
  portal/server/index.ts
  portal/server/src/url_fetcher_factory.ts
Due: none

feat(portal): expose resolved timeouts in startup log, move sanitizer to loader
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/index.ts
  portal/server/src/configuration_loader.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
Due: none

test(portal): e2e regression test for aggregator timeout (SEW-893)
  .github/workflows/e2e-aggregator-timeout.yml
  scripts/e2e-aggregator-timeout/e2e.sh
  scripts/e2e-aggregator-timeout/envoy.yaml
  scripts/e2e-aggregator-timeout/mock-aggregator.ts
  scripts/e2e-aggregator-timeout/portal-config.yaml
Due: none

fix(portal): review-pass cleanup and worker timeout wiring
  .github/workflows/e2e-aggregator-timeout.yml
  portal/common/lib/src/url_fetcher.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/index.ts
  portal/server/src/configuration_loader.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/webpack.config.common.js
  scripts/e2e-aggregator-timeout/e2e.sh
  scripts/e2e-aggregator-timeout/envoy.yaml
Due: none

test(portal): unit tests for worst-case aggregator chain duration
  portal/common/lib/tests/priority_executor.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

docs(portal): add PROMETHEUS_EXPORTER_PORT to mainnet env example for parity with testnet
  portal/server/.env.mainnet.example
Due: none

fix(portal): reject invalid AGGREGATOR_REQUEST_TIMEOUT_MS instead of silently defaulting
  portal/common/lib/src/url_fetcher.ts
Due: none

test(portal): derive worst-case expectation from aggregatorTimeoutMs
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

ci(portal): pin e2e Bun to 1.2.5 to match production Dockerfile
  .github/workflows/e2e-aggregator-timeout.yml
Due: none

fix(portal): clamp idleTimeout max at Bun.serve's 255s ceiling
  portal/server/index.ts
Due: none

refactor(portal): split e2e harness into reusable lib + per-scenario script
  scripts/e2e-aggregator-timeout/.gitignore
  scripts/e2e-aggregator-timeout/e2e.sh
  scripts/e2e-aggregator-timeout/fail503.sh
  scripts/e2e-aggregator-timeout/lib.sh
Due: none

test(portal): add e2e scenario exercising AbortSignal.timeout abort path
  scripts/e2e-aggregator-timeout/e2e.sh
  scripts/e2e-aggregator-timeout/timeout.sh
Due: none

docs(portal): document why RPC chains are excluded from idleTimeout budget
  portal/server/index.ts
Due: none

bunx prettier
  portal/common/lib/src/url_fetcher.ts
Due: none

test(portal): cover resolveAggregatorTimeoutMs env branches
  portal/common/lib/tests/url_fetcher_timeout_env.test.ts
Due: none

fix(portal): size Bun idleTimeout from aggregator retry budget (#714)
  .github/workflows/e2e-aggregator-timeout.yml
  portal/common/lib/src/priority_executor.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/priority_executor.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
  portal/common/lib/tests/url_fetcher_timeout_env.test.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/index.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/url_fetcher_factory.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/webpack.config.common.js
  scripts/e2e-aggregator-timeout/.gitignore
  scripts/e2e-aggregator-timeout/e2e.sh
  scripts/e2e-aggregator-timeout/envoy.yaml
  scripts/e2e-aggregator-timeout/fail503.sh
  scripts/e2e-aggregator-timeout/lib.sh
  scripts/e2e-aggregator-timeout/mock-aggregator.ts
  scripts/e2e-aggregator-timeout/portal-config.yaml
  scripts/e2e-aggregator-timeout/timeout.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
