Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

feat(portal): Bench flatland - fetchPage & fetchResource (#204)
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

Refactor fetchResource - make it more clear
  portal/common/lib/resource.ts
Due: none

Break up dynamicFieldObject and checkRedirect from Promise.all
  portal/common/lib/resource.ts
Due: none

Update fetchResource tests to match the refactoring
  portal/common/lib/resource.test.ts
Due: none

Prefetch checkRedirect
  portal/common/lib/resource.ts
Due: none

feat(portal): Improve fetchResource performance (#208)
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
Due: none

fix(benchmarks): incorrect bench name for page fetching
  portal/common/lib/page_fetching.bench.ts
Due: none

fix(benchmarks): incorrect bench name for page fetching (#216)
  portal/common/lib/page_fetching.bench.ts
Due: none

fix(portal): remove duplicate requests from sw
  portal/worker/src/walrus-sites-sw.ts
Due: none

fix(portal): remove duplicate requests from sw (#218)
  portal/worker/src/walrus-sites-sw.ts
Due: none

Include blob_hash to Resource
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
Due: none

Update FLATLAND_OID
  portal/common/lib/constants.ts
Due: none

Display checksum-mismatch.html when appropriate
  portal/common/lib/http/http_error_responses.ts
  portal/common/lib/http/http_status_codes.ts
  portal/common/lib/page_fetching.ts
  portal/common/static/checksum-mismatch.html
Due: none

Update FLATLANDER_OID
  portal/common/lib/constants.ts
Due: none

Update contract & site-builder to support blob_hash
  Cargo.lock
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/publish.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix bcs_parsing for checksum check
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
Due: none

Fix editor config errors
  move/walrus_site/sources/site.move
  portal/common/lib/page_fetching.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update landing page to include the checksum-mismatch.html
  portal/common/lib/constants.ts
Due: none

Use U256 for blob_hash
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Final fix on checksum
  portal/common/lib/page_fetching.ts
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix lints
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update page_fetching.ts - compare blobHash
  portal/common/lib/page_fetching.ts
  portal/common/package.json
  portal/pnpm-lock.yaml
Due: none

Update landing page oid
  portal/common/lib/constants.ts
Due: none

Update landing page OID since contract changed
  portal/common/lib/constants.ts
Due: none

Include blob_hash inside Resource type guard
  portal/common/lib/types/index.ts
Due: none

Replace blake2b256 with sha256 for blob hash
  portal/common/lib/page_fetching.ts
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Redeploy landing page and flatlander
  portal/common/lib/constants.ts
Due: none

Replace @noble/hashes with subtle crypto
  portal/common/lib/page_fetching.ts
  portal/common/package.json
  portal/pnpm-lock.yaml
Due: none

Rename checksum-mismatch to hash-mismatch
  portal/common/lib/http/http_error_responses.ts
  portal/common/lib/page_fetching.ts
  portal/common/static/hash-mismatch.html
Due: none

Rename 422 to UNPROCESSABLE_CONTENT
  portal/common/lib/http/http_error_responses.ts
  portal/common/lib/http/http_status_codes.ts
Due: none

Remove outdated comment
  portal/common/lib/page_fetching.ts
Due: none

Check hash after data decompression
  portal/common/lib/page_fetching.ts
Due: none

Remove remnant comment
  site-builder/src/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove hex from site-builder dependencies
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update pnpm.lock
  portal/pnpm-lock.yaml
Due: none

Rename checksum to hash in the 422 html page
  portal/common/static/hash-mismatch.html
Due: none

Refactor: move sha256 to crypto.ts
  portal/common/lib/crypto.ts
  portal/common/lib/page_fetching.ts
Due: none

Remove content type from Resource and include HttpHeaders
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix PTB builder - callArg::object(<headers>)
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Contract: empty vec as headers default & create fn add_header
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
