Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "3.0.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
# TODO: Consider repointing this to the upstream version again when https://github.com/notken12/licensesnip/pull/10 is merged.
- repo: https://github.com/wbbradley/licensesnip
  rev: a1037505417d06a3d311ec3b2993205127ee9e03
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: typos-dict-v0.11.37
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.16.3
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.1.0
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: prettier
    name: prettier
    entry: sh -c 'cd ts-sdk && bunx prettier --write "${@#ts-sdk/}"' --
    language: system
    types_or: [javascript, jsx, ts, tsx, css, scss, less, json, yaml, markdown, html]
    files: ^ts-sdk/
    pass_filenames: true

Add test for cookie_monster
  portal/server/src/cookie_monster.test.ts
Due: none

Catch error based on new @types/psl
  portal/bun.lock
  portal/server/package.json
  portal/server/src/cookie_monster.ts
Due: none

License header
  portal/server/src/cookie_monster.test.ts
Due: none

fix(portal): Portal common strict true (#634)
  portal/bun.lock
  portal/common/lib/src/redirects.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/tsconfig.json
  portal/server/package.json
  portal/server/src/cookie_monster.test.ts
  portal/server/src/cookie_monster.ts
Due: none

Fix serializing error when Unexpected uncaught exception is caught
  portal/server/index.ts
Due: none

fix(server-portal): Serializing error when an unexpected exception is caught (#632)
  portal/server/index.ts
Due: none

eliminate graphql dep and fix ptb versioning issue
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

showing both estimations upfront UX change, and related refactoring
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/quilts.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

update --dry-run flag description
  site-builder/src/args.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

console output formatting fixes (display, dialoguer)
  site-builder/src/args.rs
  site-builder/src/display.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/quilts.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

missing semicolon fix
  site-builder/src/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

bail early on devInspect error
  site-builder/src/site/estimates.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): refine 'deploy --dry-run' output, add sui gas estimates (#614)
  site-builder/src/args.rs
  site-builder/src/display.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/quilts.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add test for expired blobs
  site-builder/tests/convert.rs
  site-builder/tests/deploy.rs
  site-builder/tests/epochs.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/localnode/args_builder/publish_options_builder.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  site-builder/tests/quilts_dry_run_regression.rs
  site-builder/tests/redeploy_quilts_append.rs
  site-builder/tests/test_cluster.rs
  site-builder/tests/update.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Increase epoch duration
  site-builder/tests/update.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Sort resources ascending by size for optimal quilt packing
  site-builder/src/site/quilts.rs
  site-builder/src/unit_tests/site.resource.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Add size-based file grouping (#606)
  site-builder/src/site/quilts.rs
  site-builder/src/unit_tests/site.resource.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Do not assert expired blobs have been burnt
  site-builder/tests/update.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

walrus delete command accept object ids too
  site-builder/src/site/manager.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Claude slope to store the expired resources
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix multiple same-blob-id extension calls. Add warning for multiple blob-objects with same blob-id
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo fmt
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/tests/update.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use From trait instead of into_resource_data method
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

From for loop to fold + explicit Some(_) handling
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): Fix site updating when there are expired blobs (#638)
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/tests/convert.rs
  site-builder/tests/deploy.rs
  site-builder/tests/epochs.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/localnode/args_builder/publish_options_builder.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  site-builder/tests/quilts_dry_run_regression.rs
  site-builder/tests/redeploy_quilts_append.rs
  site-builder/tests/test_cluster.rs
  site-builder/tests/update.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump minor version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Bump Minor version for release v2.3.0 (#639)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fallback rpc client print errors
  portal/common/lib/src/rpc_selector.ts
Due: none

Fix other 2 places where error was not passed correctly to logger
  portal/common/lib/src/decompress_data.ts
  portal/server/src/redis_client_facade.ts
Due: none

Simplify dockerhub workflow: use release tag instead of computed version+sha
  .github/workflows/server-portal-to-dockerhub.yml
Due: none

ci(portal): Simplify dockerhub workflow: use release tag (#641)
  .github/workflows/server-portal-to-dockerhub.yml
Due: none

fix(site-builder): disable child process uploads for store-quilt
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): disable child process uploads for all store commands
  site-builder/src/walrus.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): disable child process uploads for store-quilt (#642)
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump patch version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Bump patch version (#643)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use formatError and fix JSON.stringify(error) occurence
  portal/common/lib/src/decompress_data.ts
  portal/common/lib/src/logger.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/server/index.ts
  portal/server/src/redis_client_facade.ts
Due: none
