Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

feat(portal): Enhance error handling with 503 and 500 responses for service unavailability and unhandled exceptions (#604)
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/http/http_status_codes.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/http_error_responses.test.ts
Due: none

Use bumpFullnodeFailCounter and create aggregatorFailCounter.
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
  portal/server/index.ts
Due: none

Move increaseRequestsMade to also catch blocked
  portal/common/lib/src/routing.ts
  portal/common/lib/src/url_fetcher.ts
Due: none

fix(ci): Portal error counters (#605)
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/url_fetcher.ts
  portal/server/index.ts
Due: none

Remove other RetriableSuiClient constructors
  site-builder/src/retry_client.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix lint error
  site-builder/src/retry_client.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use ObjectCache in SiteManager to avoid wrong object-versions used (WIP)
  site-builder/src/lib.rs
  site-builder/src/object_cache.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix picking a coin as its latest version
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Less loc less bugs
  site-builder/src/lib.rs
  site-builder/src/object_cache.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove wait_for_user_input
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Add size-based file grouping for optimal quilt packing
  site-builder/src/site.rs
  site-builder/src/site/grouping.rs
  site-builder/src/site/resource.rs
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): Preserve file order in group_by_size for stable quilt assignments
  site-builder/src/site/grouping.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add unit tests for using the manager with a stale fullnode and object-cache effects update
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/util.tests.rs
  site-builder/src/util.rs
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix fmt errors
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/util.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add warn! statement when fn response doesn't match cache's
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Point new and some old TODO items to their respective tasks
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/tests/deploy.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use backoff when getting an older version of a gas-coin
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): Invalid object-version fetched by wallet (#597)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/retry_client.rs
  site-builder/src/site/manager.rs
  site-builder/src/types.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/util.tests.rs
  site-builder/src/util.rs
  site-builder/tests/deploy.rs
  site-builder/tests/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Replace \ with / in full-path to resource path for Windows
  site-builder/src/preprocessor.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/preprocessor.tests.rs
  site-builder/src/unit_tests/site.resource.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Actually error on invalid utf8
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

ok_or anyhow instead of if let Some(
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): Replace \ with / in full-path to resource path for Windows (#607)
  site-builder/src/preprocessor.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/preprocessor.tests.rs
  site-builder/src/unit_tests/site.resource.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Update version 2.0.0 to 2.1.0
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Update version 2.0.0 to 2.1.0 (#608)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add react-client-dapp build files
  examples/react-client-dapp/assets/index-VkVqEY7f.css
  examples/react-client-dapp/assets/index-vvl1Wguv.js
  examples/react-client-dapp/index.html
Due: none

feat: added react-e2e-counter build files
  examples/react-e2e-counter/assets/index-CBv1ZuOJ.js
  examples/react-e2e-counter/assets/index-VkVqEY7f.css
  examples/react-e2e-counter/index.html
Due: none

debug(portal): Add vitest.config.ts to properly load HTML templates in CI
  portal/common/vitest.config.ts
Due: none

Removing fallback to test again on CI
  portal/common/lib/src/http/http_error_responses.ts
Due: none

Add loadEnv to vitest config for environment variables
  portal/common/vitest.config.ts
Due: none

Add coverage config to vitest for SonarQube lcov.info
  portal/common/vitest.config.ts
Due: none

Unite vitest config functionallity into vite.config.mts
  portal/common/vite.config.mts
  portal/common/vitest.config.ts
Due: none

Only count 5xx errors as aggregator failures
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/url_fetcher.ts
Due: none

Add tests and fix bug/typo
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

Fix typo
  portal/common/lib/src/url_fetcher.ts
Due: none

Fix flaky test by waiting a bit for collector
  portal/common/lib/tests/instrumentation.test.ts
Due: none

mock instrumentation
  portal/common/lib/tests/instrumentation.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

Log aggregator 404s as info, not debug
  portal/common/lib/src/url_fetcher.ts
Due: none

fix(server-portal): Only count 5xx errors as aggregator failures (#611)
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

chore: Bump version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version (#612)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
