Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

fix(ci): auto-detect Sui version when bumping Walrus alone (#676)
  .github/workflows/gen-version-bump-pr.yml
  scripts/bump_versions.sh
Due: none

chore(portal): [SEW-904] Update portal deps to mysten sdk v2
  .gitignore
  portal/bun.lock
  portal/common/lib/src/domain_parsing.ts
  portal/common/lib/src/redirects.ts
  portal/common/lib/src/resource.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/suins.ts
  portal/common/lib/tests/decompress_data.test.ts
  portal/common/lib/tests/domain_parsing.suffix_mock.test.ts
  portal/common/lib/tests/resource.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/suins.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
  portal/common/package.json
  portal/common/tsconfig.json
  portal/worker/package.json
  portal/worker/tsconfig.json
Due: none

chore(portal): [SEW-904] Update portal deps to mysten sdk v2 * adss missing dep
  portal/bun.lock
  portal/common/package.json
  portal/worker/webpack.config.common.js
Due: none

chore(portal): [SEW-904] Update portal deps to mysten sdk v2 * adds test
  portal/common/lib/tests/suins.test.ts
Due: none

chore(portal): [SEW-904] Update portal deps to mysten sdk v2 * buffer polyfill scope fix
  portal/bun.lock
  portal/common/package.json
  portal/worker/package.json
Due: none

chore(portal): [SEW-904] Update portal deps to mysten sdk v2 (#683)
  .gitignore
  portal/bun.lock
  portal/common/lib/src/domain_parsing.ts
  portal/common/lib/src/redirects.ts
  portal/common/lib/src/resource.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/suins.ts
  portal/common/lib/tests/decompress_data.test.ts
  portal/common/lib/tests/domain_parsing.suffix_mock.test.ts
  portal/common/lib/tests/resource.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/suins.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
  portal/common/package.json
  portal/common/tsconfig.json
  portal/worker/package.json
  portal/worker/tsconfig.json
  portal/worker/webpack.config.common.js
Due: none

feat(move): add HTTP redirect support to site contract
  move/walrus_site/sources/redirects.move
  move/walrus_site/sources/site.move
Due: none

Add Published.toml in git
  move/walrus_site/Published.toml
Due: none

test(move): add tests for redirects and fill_routes
  move/walrus_site/tests/redirects_tests.move
  move/walrus_site/tests/site_tests.move
Due: none

Move prettier prefer splitting by module
  move/walrus_site/.prettierrc
  move/walrus_site/tests/redirects_tests.move
  move/walrus_site/tests/site_tests.move
Due: none

Add suins reverse resolution wrapper
  move/walrus_site/Move.lock
  move/walrus_site/Move.toml
  move/walrus_site/sources/site.move
Due: none

feat(move): enforce route/redirect removal before burn
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Due: none

Fix sites publishing in test-cluster with suins dep
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Install also mvr in ci using suiup
  .github/workflows/code.yml
Due: none

ci: Export .local/bin to path
  .github/workflows/code.yml
Due: none

Add -y flag in suiup install steps
  .github/workflows/code.yml
Due: none

ci: Install sui as well
  .github/workflows/code.yml
Due: none

ci: Also create sui config files
  .github/workflows/code.yml
Due: none

ci: Redirect new-address output to /dev/null
  .github/workflows/code.yml
Due: none

style(move): merge test annotations onto single line
  move/walrus_site/tests/redirects_tests.move
Due: none

Add create_redirects endpoint for consistency with routes
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Due: none

test(move): add duplicate redirect abort test cases
  move/walrus_site/tests/site_tests.move
Due: none

Use tx_context::dummy instead of test_scenario.
  move/walrus_site/tests/site_tests.move
Due: none

test(move): simplify expected failures using EShouldHaveAborted
  move/walrus_site/tests/site_tests.move
Due: none

refactor(move): use method syntax and tx_context::dummy() in site tests
  move/walrus_site/tests/site_tests.move
Due: none

Replace assert! with std::test_util::assert_eq! where applicable
  move/walrus_site/tests/redirects_tests.move
  move/walrus_site/tests/site_tests.move
Due: none

ci: switch licensesnip to upstream and enforce headers on Move files
  .github/workflows/lint.yml
  licensesnip.config.jsonc
  move/walrus_site/sources/events.move
  move/walrus_site/sources/metadata.move
  move/walrus_site/sources/redirects.move
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Due: none

Use df aliases instead of df::
  move/walrus_site/sources/site.move
Due: none

feat(contract): Site new df `b"redirects"` working similar to routes (#682)
  .github/workflows/code.yml
  .github/workflows/lint.yml
  licensesnip.config.jsonc
  move/walrus_site/.prettierrc
  move/walrus_site/Move.lock
  move/walrus_site/Move.toml
  move/walrus_site/Published.toml
  move/walrus_site/sources/events.move
  move/walrus_site/sources/metadata.move
  move/walrus_site/sources/redirects.move
  move/walrus_site/sources/site.move
  move/walrus_site/tests/redirects_tests.move
  move/walrus_site/tests/site_tests.move
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): add redirect support and MVR package resolution
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/config.rs
  site-builder/src/lib.rs
  site-builder/src/mvr.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/sitemap.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/quilts_dry_run_regression.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): move MVR resolution into Config::load_from_multi_config
  site-builder/src/config.rs
  site-builder/src/lib.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/config.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): fetch routes and redirects via derived DF IDs
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use create_redirects as with routes
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, fix stale comment
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test(site-builder): add integration tests for redirects
  site-builder/tests/localnode/mod.rs
  site-builder/tests/redirects.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, cargo fmt
  site-builder/tests/redirects.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): disable reqwest default features to avoid OpenSSL license dep
  .github/workflows/code.yml
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): downgrade reqwest to 0.12 to avoid OpenSSL license
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix is_change to is_resource_change
  site-builder/src/site.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): add timeout and retries to MVR resolution
  site-builder/src/mvr.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
