Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

Working state - still WIP for site-builder
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Create config_reader.rs - WIP
  examples/snake/ws-config.json
  site-builder/src/site.rs
  site-builder/src/site/config_reader.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use tempfile for mocking a ws-config.json in the test_read_ws_config
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site/config_reader.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use ws_config in ResourceManager - WIP
  site-builder/src/site/config_reader.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Parse headers from config in read_resource
  examples/snake/ws-config.json
  site-builder/src/site/config_reader.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(builder): add new move calls from rust
  site-builder/src/site/builder.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: improvements from 2nd review iteration
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(builder): add new move calls from rust (#222)
  site-builder/src/site/builder.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Rename config_reader.rs to config.rs
  site-builder/src/site.rs
  site-builder/src/site/config.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Replace buffer reader with fs::read_to_string
  site-builder/src/site/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Define read_ws_config as static method of WSConfig
  site-builder/src/site/config.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Rename read_ws_config to read
  site-builder/src/site/config.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use anyhow::Result instead of Box<dyn Error>
  site-builder/src/site/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use From instead of TryFrom since no chance for error
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix early return inside all_headers match clause
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove content_encoding from function parameters
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Specify return type in sha256
  portal/common/lib/crypto.ts
Due: none

Use HEX instead of B64 when comparing blob hashes
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
Due: none

Refactor: rename U256 to DATA_HASH
  portal/common/lib/bcs_data_parsing.ts
Due: none

feat(portal): add blob hash to resource fields (#219)
  Cargo.lock
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/crypto.ts
  portal/common/lib/http/http_error_responses.ts
  portal/common/lib/http/http_status_codes.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
  portal/common/static/hash-mismatch.html
  portal/pnpm-lock.yaml
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add --version support to site-builder
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): minor comment change
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Add --version support (#226)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Support any HTTP header
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  site-builder/assets/builder-example.yaml
  site-builder/src/publish.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Sort cargo dependencies
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Show warning message when ws-resources.json is not found
  portal/common/lib/constants.ts
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update portal to parse HTTP headers from resource
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
Due: none

Redeploy LANDING_PAGE and FLATLAND
  portal/common/lib/constants.ts
Due: none

feat(portal): parse HTTP headers from resource (#229)
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
Due: none

feat: support any http header (#221)
  Cargo.lock
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: reduce code duplication, remove expects
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: clean up unused structs, remove unused deps
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui versions and fix cargo deny
  Cargo.lock
  deny.toml
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: uniform comments
  move/walrus_site/sources/site.move
  site-builder/src/main.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fetch the correct configuration file
  site-builder/src/publish.rs
  site-builder/src/site/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: load correct config, ignore config for upload, don't reupload unchanged resources
  site-builder/src/publish.rs
  site-builder/src/site/config.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: streamline move type conversion
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: revert from hex to b64 for content hash
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
Due: none

fix: remove extra entry in deny
  deny.toml
Due: none

chore(site-builder): small improvements and fixes (#232)
  Cargo.lock
  deny.toml
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
  site-builder/Cargo.toml
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
