Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

feat: mock network calls for bench
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

feat: refactor headers to use map and simplify mock implementations
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

refactor: remove unused constants
  portal/common/lib/constants.ts
Due: none

Add comments and fix Resource.headers in mocks
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

feat(portal): mock system calls to reduce benchmark variance (#227)
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

chore(move): upgrade to Move 2024 and publish new contract
  move/walrus_site/Move.lock
  move/walrus_site/Move.toml
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add routes to contract
  move/walrus_site/sources/site.move
Due: none

feat: parse the routes from sui + correct summarization
  examples/snake/ws-resources.json
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(move/site-builder): add routes
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(portal): remove unused arg
  portal/worker/src/walrus-sites-portal-register-sw.ts
Due: none

refactor: streamline site diffing in preparation to routes
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(move): upgrade to Move 2024 and publish new contract
  move/walrus_site/Move.lock
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Create getRoutes() to parse the Routes DF
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/types/index.ts
Due: none

Implement matchPathToRoute and minor refactorings
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
Due: none

Refactor routing.ts - readability
  portal/common/lib/routing.ts
Due: none

Enrich routing.test.ts for matchPathToRoute
  portal/common/lib/routing.test.ts
Due: none

Fix SITE_PACKAGE to include the one in gg/move/upgrade
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

IMPORTANT FIX: typo in routes_list
  portal/common/lib/bcs_data_parsing.ts
Due: none

Use file.svg for snake ws-resources.json - it is simpler
  examples/snake/ws-resources.json
Due: none

Integrate getRoutes & matchPathToRoute to page_fetching.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
Due: none

Add error handling for sites without Routes defined
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.ts
Due: none

Fix build error
  portal/common/lib/routing.ts
  portal/server/next-env.d.ts
Due: none

SW: Handle cache storage overflow (QuotaExceededError)
  portal/worker/src/caching.ts
Due: none

Add a routing cache interface to the common/lib
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing_cache_interface.ts
  portal/common/lib/types/index.ts
  portal/server/next-env.d.ts
Due: none

Use IndexedDB API for routing_cache in SW portal
  portal/common/lib/page_fetching.ts
  portal/worker/src/caching.ts
  portal/worker/src/routing_cache.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

chore(move): upgrade to Move 2024 and publish new contract
  portal/common/lib/constants.ts
Due: none

Add range field to Resource
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
Due: none

Use Range struct to define the resource bytes inside the blob
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
Due: none

Remove non negative assertion - redundant for U256
  move/walrus_site/sources/site.move
Due: none

Add tests for new_resource
  move/walrus_site/tests/site_tests.move
Due: none

Publish the new contract & update constants and builder-example.yaml
  move/walrus_site/Move.lock
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix compiler-version in Move.lock
  move/walrus_site/Move.lock
Due: none

Remove invalid TODO
  portal/common/lib/page_fetching.ts
Due: none

Minor update resource parhts to start with "/"
  portal/common/lib/routing.test.ts
Due: none

Create tryCachePut that recursively retries puting an entry to the Cache
  portal/worker/src/caching.ts
Due: none

Use new_range() function
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Due: none

Refactor assertion ERangeEndShouldNotBeZero
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Due: none

Publish new contract and update constants & builder-example
  move/walrus_site/Move.lock
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(service-worker): handle cache storage overflow (#237)
  portal/worker/src/caching.ts
Due: none

Allow zero Range end/upper bound for empty file support
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Due: none
