Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

Handle some todos
  site-builder/src/lib.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/sitemap.rs
  site-builder/src/util.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolve some todos, refine others
  site-builder/src/lib.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/tests/deploy.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Move stuff out of util.rs
  site-builder/src/args.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/resource.rs
  site-builder/src/suins.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Move default::cache_ttl to the WalrusConfig module
  site-builder/src/args.rs
  site-builder/src/walrus/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add tests for the new redeploy quilt-append pattern
  site-builder/tests/helpers/mod.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/redeploy_quilts_append.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove unecessary collection and iteration
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove commented out code-block
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Extend multiple blobs in one tx
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/retry_client.rs
  site-builder/src/site/manager.rs
  site-builder/src/sitemap.rs
  site-builder/src/util.rs
  site-builder/src/walrus/config.rs
  site-builder/tests/update.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Using IntoIterator instead of Vec for function arguments
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Start moving extend operations in SitePtbBuilder
  site-builder/src/retry_client.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Move blob-extensions into site-updates thus removing unecessary ptbs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fmt
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Pass walrus_pkg inside SitePtb
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/unit_tests/site.builder.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use walrus_core and walrus_sui via walrus_sdk
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/summary.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/tests/deploy.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  site-builder/tests/update.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update deps and resolve some todos
  Cargo.lock
  deny.toml
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update todo comments with issue if available
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/walrus/command.rs
  site-builder/tests/deploy.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/update.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolve code-quality todo
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Summarizable for ExtendOps
  site-builder/src/site.rs
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, remove todo comment
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Create QuiltsManager out of ResourceManager. Compute extension cost
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/quilts.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/tests/deploy.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Claude writes tests for the extension feature
  site-builder/tests/localnode/mod.rs
  site-builder/tests/update.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add an integration test about walrus config default location
  site-builder/tests/deploy.rs
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Parse default walrus config locations if none specified
  site-builder/src/args.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Update by only creating new quilts for resource-changes (#616)
  Cargo.lock
  deny.toml
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/quilts.rs
  site-builder/src/site/resource.rs
  site-builder/src/sitemap.rs
  site-builder/src/suins.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/unit_tests/site.builder.tests.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
  site-builder/tests/deploy.rs
  site-builder/tests/helpers/mod.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/publish.rs
  site-builder/tests/redeploy_quilts_append.rs
  site-builder/tests/update.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump minor version
  Cargo.toml
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update lock files
  Cargo.lock
  portal/bun.lock
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Bump versions for release v2.2.0 (#628)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use anyhow's Context: context(), instead of map_err
  site-builder/src/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): add config path to error output (#548)
  site-builder/src/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use package_id from Staking object contents, not type
  site-builder/src/args.rs
  site-builder/src/retry_client.rs
  site-builder/src/sitemap.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update walrus_package in sites-config.yaml
  sites-config.yaml
Due: none

fix(site-builder): Use package_id from Staking object contents, not type (#630)
  site-builder/src/args.rs
  site-builder/src/retry_client.rs
  site-builder/src/sitemap.rs
  site-builder/src/util.rs
  sites-config.yaml
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump patch version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump versions for release v2.2.1 (#631)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add context to the site-fields not found
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): Add context to the site-fields not found (#633)
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add strict: true to portal common lib
  portal/common/lib/src/redirects.ts
  portal/common/tsconfig.json
Due: none

selectedClient could be undefined
  portal/common/lib/src/rpc_selector.ts
Due: none

Minor, fix wrong type
  portal/server/src/cookie_monster.ts
Due: none

Warn on psl parse error
  portal/server/src/cookie_monster.ts
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
