Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

Renaming store_blobs variable in update_site
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

UpdateQuilts command
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/tests/helpers/mod.rs
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix bug introduced during previous renaming
  site-builder/src/site/manager.rs
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Do not support watch with UpdateQuilts
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): UpdateQuilts command, deletes and re-creates all resources. (#552)
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/tests/helpers/mod.rs
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): --list-directory and ignore files (#556)
  Cargo.lock
  examples/snake/ws-resources.json
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/preprocessor.rs
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
  site-builder/src/util_tests.rs
  site-builder/tests/convert.rs
  site-builder/tests/publish.rs
  site-builder/tests/publish_quilts.rs
  site-builder/tests/test_cluster.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): list_directory integration test
  .gitignore
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Create test for the list-directory command
  .gitignore
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix: Uncomment test setup in preprocess_the_snake_example test
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove entry from gitignore
  .gitignore
Due: none

chore(site-builder): sew 387 create integration test for list directory (#559)
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add tests for isVersionedResource
  portal/common/lib/tests/types.test.ts
Due: none

Add tests for isRoutes function in types.test.ts
  portal/common/lib/tests/types.test.ts
Due: none

fix(common-lib): nullish coalescing for range header building
  portal/common/lib/src/types/index.ts
  portal/common/lib/tests/types.test.ts
Due: none

Create tests for the isResource type guard
  portal/common/lib/tests/types.test.ts
Due: none

Create a unit test for the sha256 we use for blob hashing
  portal/common/lib/tests/crypto.test.ts
Due: none

Refactor tests v1
  portal/common/lib/tests/types.test.ts
Due: none

fix(common-lib): nullish coalescing for range header building (#560)
  portal/common/lib/src/types/index.ts
  portal/common/lib/tests/crypto.test.ts
  portal/common/lib/tests/types.test.ts
Due: none

feat: use quilt patch ids in site-builder publish/update output - done
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): show quilt patch ids during sitemap
  site-builder/src/sitemap.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Refactor: create parse_quilt_patch_id
  site-builder/src/sitemap.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add unit test for parse_quilt_patch_id
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: use quilt patch ids in site-builder publish/update output (#561)
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove old TODO
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor refactor
  site-builder/src/sitemap.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix lint errors
  site-builder/src/summary.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): show quilt patch ids during sitemap (#562)
  site-builder/src/sitemap.rs
  site-builder/src/summary.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(site-builder): Improve the print_summary docs (#557)
  site-builder/src/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump site-builder, server, and worker versions
  Cargo.lock
  portal/bun.lock
  portal/package.json
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump site-builder, server, and worker versions (#563)
  Cargo.lock
  portal/bun.lock
  portal/package.json
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add failing test due to move-commands in ptb
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Count move-calls in SitePtb
  site-builder/src/site/builder.rs
  site-builder/src/site/builder/counted_pt_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Typo, not passing args in getPropertiesWithContext
  portal/server/custom_logger.ts
Due: none

fix(portal): Logger typo, not passing args in getPropertiesWithContext (#565)
  portal/server/custom_logger.ts
Due: none

Minor, add #[ignore] in integration tests, as this is the approach for long tests currently
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test(site-builder): replace dry_run_*_without_input_tests with dry_run_*_with_simulated_no_input
  site-builder/tests/quilts_dry_run_regression.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Minor, add #[ignore] in integration tests (#566)
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): use Term:read_write_pair to support stdin in dry-run confirmations during testing.
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): resource chunks iteration. remove Clone from ResourceData.
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): optimize chunks iteration and add test-helpers feature for dry-run integration tests.
  deny.toml
  site-builder/Cargo.toml
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/tests/quilts_dry_run_regression.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
