Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

Fix lines that were broken by the rebase
  portal/server/app/route.ts
Due: none

feat(server-portal): SEINT-409 create allowlist mechanism (#328)
  portal/server/allowlist_checker.ts
  portal/server/app/route.ts
  portal/server/configuration_loader.ts
  portal/server/url_fetcher_factory.ts
Due: none

fix: align response formats with Walrus
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: align response formats with Walrus (#336)
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Derive instead of get routes dynamic field
  portal/common/lib/constants.ts
  portal/common/lib/routing.ts
Due: none

Derive routes DF - Done
  portal/common/lib/constants.ts
  portal/common/lib/routing.ts
Due: none

Minor refactoring
  portal/common/lib/routing.ts
Due: none

Lower sample rate
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Due: none

Lower sentry sample rate
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Due: none

fix: Lower Sentry sample rate (#338)
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Due: none

fix: Lower sentry sample rate (#339)
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Due: none

Fix: Correct range validation logic in isRangeValid function
  portal/common/lib/types/index.ts
Due: none

chore: fix typo
  portal/common/lib/types/index.ts
Due: none

feat(common-lib): derive routes df instead of fetch (#337)
  portal/common/lib/routing.ts
Due: none

Response parsing
  portal/pnpm-lock.yaml
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Cargo update
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add server as default portal build
  portal/package.json
Due: none

fix(server-portal): return when Routes df is not found
  portal/common/lib/routing.ts
Due: none

fix(server-portal): return when Routes df is not found (#343)
  portal/common/lib/routing.ts
Due: none

feat: create SENTRY_TRACES_SAMPLE_RATE env variable
  portal/server/configuration_loader.ts
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Due: none

Dependencies updates
  portal/pnpm-lock.yaml
  portal/server/package.json
Due: none

Dependencies updates
  portal/package.json
  portal/server/package.json
Due: none

Build command added to default builder:server
  portal/package.json
Due: none

Lock update
  portal/pnpm-lock.yaml
Due: none

chore(site-builder): general reliability improvements
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/backoff.rs
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): general reliability improvements (#345)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/backoff.rs
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): add single resource to existing site
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): add single resource to existing site (#346)
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

SUI TS SDK custom fetch
  portal/common/lib/rpc_selector.ts
Due: none

Added comments
  portal/common/lib/rpc_selector.ts
Due: none

Updated comments
  portal/common/lib/rpc_selector.ts
Due: none

Revert rpc-selector formatting changes
  landing-page/src/App.tsx
Due: none

Revert rpc-selector formatting changes
  portal/common/lib/rpc_selector.ts
Due: none

Remove client_config.yaml
  .gitignore
  client_config.yaml
Due: none

fix: align message formats with latest walrus version
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: align message formats with latest walrus version (#349)
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: create SENTRY_TRACES_SAMPLE_RATE env variable (#344)
  portal/server/configuration_loader.ts
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Due: none

chore: fix typo (#342)
  portal/common/lib/types/index.ts
Due: none
