Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "3.0.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
# TODO: Consider repointing this to the upstream version again when https://github.com/notken12/licensesnip/pull/10 is merged.
- repo: https://github.com/wbbradley/licensesnip
  rev: a1037505417d06a3d311ec3b2993205127ee9e03
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: typos-dict-v0.11.37
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.16.3
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.1.0
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: prettier
    name: prettier
    entry: sh -c 'cd ts-sdk && bunx prettier --write "${@#ts-sdk/}"' --
    language: system
    types_or: [javascript, jsx, ts, tsx, css, scss, less, json, yaml, markdown, html]
    files: ^ts-sdk/
    pass_filenames: true

Fix forward/backward compatibility labels in E2E workflow docs
  dev-docs/contract-upgrade-process.md
Due: none

Trim E2E upgrade workflow section in contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Restructure contract upgrade docs to decouple release from upgrade
  dev-docs/contract-upgrade-process.md
Due: none

Fix PackageInfo git update ptb.
  dev-docs/contract-upgrade-process.md
Due: none

Convert base36 to ObjectID. AI Slop, didn't look at the code.
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/util.rs
  site-builder/tests/convert.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(portal): fix local Docker portal script and suppress meta logger noise
  portal/server/custom_logger.ts
  scripts/local-docker-portal.sh
Due: none

chore: replace version-specific comment with durable reference
  scripts/local-docker-portal.sh
Due: none

fix(portal): fix flaky instrumentation test port collision
  portal/common/lib/tests/instrumentation.test.ts
Due: none

fix(portal): fix local Docker portal script and suppress meta logger noise (#700)
  portal/common/lib/tests/instrumentation.test.ts
  portal/server/custom_logger.ts
  scripts/local-docker-portal.sh
Due: none

refactor(site-builder): use multi_get for resource dynamic field fetching
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Run bun update
  portal/bun.lock
Due: none

feat(site-builder): use multi_get for resource dynamic field fetching (#684)
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add config file update step to contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Add dev-docs md for contract-upgrading
  dev-docs/contract-upgrade-process.md
Due: none

Create upgrade tx
  dev-docs/contract-upgrade-process.md
Due: none

Add Published.toml to config update step in contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Add release and MVR PackageInfo steps to contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Add lessons learned and post-upgrade steps to contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

docs(dev): Contract upgrade documentation (#692)
  dev-docs/contract-upgrade-process.md
Due: none

fix(site-builder): use active env, not envs.first(), for sitemap RPC
  site-builder/src/sitemap.rs
  site-builder/src/unit_tests/site.manager.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): clarify error when SuiNS package lookup fails
  site-builder/src/suins.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): use active env, not envs.first(), for sitemap RPC (#704)
  site-builder/src/sitemap.rs
  site-builder/src/suins.rs
  site-builder/src/unit_tests/site.manager.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(scripts): drop cargo update from bump_versions.sh
  scripts/bump_versions.sh
Due: none

chore: bump Sui to testnet-v1.70.1, Walrus to testnet-v1.47.0
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump minor version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump minor version (#708)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(portal): count every request in ws_num_requests_made_counter
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
Due: none

fix(portal): count every request in ws_num_requests_made_counter (#705)
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
Due: none

ci(portal): add typecheck job
  .github/workflows/portal-tests.yml
Due: none

chore(portal): add tsc typecheck script
  portal/bun.lock
  portal/common/package.json
  portal/server/package.json
  portal/server/src/cookie_monster.ts
  portal/server/src/url_fetcher_factory.ts
  portal/server/tsconfig.json
  portal/worker/package.json
  portal/worker/tsconfig.json
Due: none

tsc: Fix never[] variable declaration
  portal/server/src/cookie_monster.ts
Due: none

fix(portal): don't bump FN-fail counter for unregistered SuiNS names
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
Due: none

fix(portal): handle notExists at RPCSelector level, stop retrying
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
Due: none

chore: portal typecheck (#706)
  .github/workflows/portal-tests.yml
  portal/bun.lock
  portal/common/package.json
  portal/server/package.json
  portal/server/src/cookie_monster.ts
  portal/server/src/url_fetcher_factory.ts
  portal/server/tsconfig.json
  portal/worker/package.json
  portal/worker/tsconfig.json
Due: none
