Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

fix: update site object
  portal/common/lib/routing.test.ts
Due: none

fix: add range checks
  portal/common/lib/types/index.ts
Due: none

feat(portal): add resource byte ranges to the portal (#245)
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/types/index.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update pnpm.lock
  portal/pnpm-lock.yaml
Due: none

feat: bump the struct definitions to match the walrus CLI output
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder)!: bump the struct definitions to match the walrus CLI output (#248)
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Upgrade @mysten/sui to 1.12.0
  portal/common/package.json
  portal/pnpm-lock.yaml
Due: none

Replace client.getDynamicFieldObject with deriveDynamicFieldID
  portal/common/lib/resource.ts
Due: none

Fix resource.test.ts - WIP
  portal/common/lib/resource.test.ts
Due: none

Check pagedata is not undefined
  portal/common/lib/resource.ts
Due: none

Fix test for dynamic field not found
  portal/common/lib/resource.test.ts
Due: none

Remove redundant tests
  portal/common/lib/resource.test.ts
Due: none

Fix benchmarks for resource.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

Skip page_fetching benchmarks
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.test.ts
Due: none

Fix deprecation warnings from sui utils
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/objectId_operations.test.ts
  portal/common/lib/objectId_operations.ts
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/page_fetching.ts
Due: none

chore: more uniform serve commands
  portal/package.json
Due: none

chore: more uniform serve commands (#249)
  portal/package.json
Due: none

Use async redirect
  portal/common/lib/resource.ts
Due: none

Fix remnant deprecation warnings from sui utils
  portal/common/lib/objectId_operations.ts
  portal/common/lib/resource.bench.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
Due: none

feat(common-lib): derive dynamic field instead of call to fullnode (#246)
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/objectId_operations.test.ts
  portal/common/lib/objectId_operations.ts
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.bench.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
  portal/common/package.json
  portal/pnpm-lock.yaml
Due: none

chore(site-builder): change the location of the configuration file
  site-builder/src/main.rs
  sites-config.yaml
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(portal): change the URL of the aggregator to testnet
  portal/common/lib/constants.ts
Due: none

chore(move): republish the sites and update move.lock
  move/walrus_site/Move.lock
Due: none

chore: reupload contracts
  move/walrus_site/Move.lock
  portal/common/lib/constants.ts
  sites-config.yaml
Due: none

chore: reupload contracts and change location of config file (#252)
  move/walrus_site/Move.lock
  portal/common/lib/constants.ts
  site-builder/src/main.rs
  sites-config.yaml
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix unit tests
  portal/common/lib/redirects.test.ts
  portal/common/lib/resource.test.ts
Due: none

chore(site-builder): small improvements and fixes (#232)
  Cargo.lock
  deny.toml
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
  site-builder/Cargo.toml
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): better move bindings (#244)
  site-builder/src/main.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/macros.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder/contracts): add possiblity to specify the default routes for a site (#233)
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/Move.toml
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
  portal/common/lib/constants.ts
  portal/worker/src/walrus-sites-portal-register-sw.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(service-worker): handle cache storage overflow (#237)
  portal/worker/src/caching.ts
Due: none

feat(portal): propagate requests to a fallback devnet portal (#242)
  .github/workflows/codspeed.yml
  .github/workflows/lint.yml
  portal/server/app/route.ts
  portal/server/next-env.d.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

feat(portal): integrate resource routing to portal (#235)
  examples/snake/ws-resources.json
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/types/index.ts
  portal/server/next-env.d.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): parallelize calls to the walrus cli (#241)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: support any http header (#221)
  Cargo.lock
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc
