Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: bash -c "cd site-builder && cargo fmt"
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: bash -c "cd site-builder && cargo check"
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: bash -c "cd site-builder && cargo test"
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: bash -c "cd site-builder && cargo clippy"
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: bash -c "cd site-builder && cargo clippy"
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: bash -c "cd site-builder && env RUSTDOCFLAGS="-D warnings" cargo doc"
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

chore: license, code of conduct, contributing
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
Due: none

fix: remove cargo deny and add top level Cargo toml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add license snip
  .licensesnip
Due: none

fix: ci working dir
  .github/workflows/code.yml
Due: none

chore: add lint workflow
  .editorconfig
  .github/workflows/lint.yml
  portal/.prettierrc
Due: none

fix: remove local test
  site-builder/src/walrus.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: temporarily remove job to check dependencies
  .github/workflows/code.yml
Due: none

fix: re-add cargo deny and allowlist packages
  .github/workflows/code.yml
  .pre-commit-config.yaml
  deny.toml
  portal/static/index-sw-enabled.html
  portal/static/index.html
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add CI jobs (#70)
  .editorconfig
  .github/workflows/code.yml
  .github/workflows/lint.yml
  .licensesnip
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  LICENSE
  deny.toml
  examples/snake/index.html
  portal/.prettierrc
  portal/src/constants.ts
  portal/src/custom.d.ts
  portal/src/sw.ts
  portal/static/404-page.template.html
  portal/static/404.html
  portal/static/concrete.css
  portal/static/index-sw-enabled.html
  portal/static/index.html
  portal/static/normalize.css
  portal/webpack.config.common.js
  portal/webpack.config.dev.js
  portal/webpack.config.prod.js
  site-builder/Cargo.toml
  site-builder/src/main.rs
  site-builder/src/network.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/content.rs
  site-builder/src/site/macros.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
  site-builder/src/walrus/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump all dependencies
  Cargo.lock
  site-builder/Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump all dependencies (#71)
  Cargo.lock
  site-builder/Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: leftover comments
  .github/workflows/code.yml
  CODE_OF_CONDUCT.md
Due: none

update 404 page
  portal/static/404-page.template.html
Due: none

update 404 page (#73)
  portal/static/404-page.template.html
Due: none

fix(deps): bump Sui to testnet-v1.27.2
  Cargo.lock
  deny.toml
  site-builder/Cargo.toml
  site-builder/src/site/macros.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): update portal dependencies
  .editorconfig
  portal/package.json
  portal/pnpm-lock.yaml
Due: none

add styles to 404 page
  portal/static/404-page.template.html
Due: none

add styles to 404 page (#76)
  portal/static/404-page.template.html
Due: none

fix(deps): update portal dependencies (#75)
  .editorconfig
  portal/package.json
  portal/pnpm-lock.yaml
Due: none

fix(deps): bump Sui to testnet-v1.27.2 (#74)
  Cargo.lock
  deny.toml
  site-builder/Cargo.toml
  site-builder/src/site/macros.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: update to walrus cli output
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: track client output and blob store print
  site-builder/src/site/manager.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

update links + fix font-size on 404 page
  portal/static/404-page.template.html
  portal/static/index-sw-enabled.html
  portal/static/index.html
Due: none

feat: change to official aggregator
  portal/src/constants.ts
Due: none

fix: update to walrus cli output (#72)
  site-builder/src/site/manager.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: change to official aggregator (#77)
  portal/src/constants.ts
Due: none

chore: rename `certified` to `certified_epoch`
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: point to docs in README
  README.md
Due: none

chore: rename `certified` to `certified_epoch` (#80)
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

update links + fix font-size on 404 page (#78)
  portal/static/404-page.template.html
  portal/static/index-sw-enabled.html
  portal/static/index.html
Due: none

fix capitalization
  README.md
Due: none

docs: point to docs in README (#79)
  README.md
Due: none

fix: wording
  portal/static/index-sw-enabled.html
Due: none

fix: wording (#81)
  portal/static/index-sw-enabled.html
Due: none

fix: naming and unused files
  move/walrus_site/package.json
  portal/src/sw.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/main.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: remove unused diagram
  portal/README.md
Due: none

fix: cleanup naming and unused files (#82)
  move/walrus_site/package.json
  portal/README.md
  portal/src/sw.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/main.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove dark theme colors + fix title
  portal/static/concrete.css
  portal/static/index-sw-enabled.html
  portal/static/index.html
Due: none

refactor(portal): bring changes over to the 404
  portal/static/404.html
Due: none

fallback to 404.html blob if available
  portal/src/sw.ts
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
