Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

refactor(portal): rename site_package to original_package_id
  .github/workflows/e2e-upgrade.yml
  portal/common/.env.test
  portal/common/lib/src/resource.ts
  portal/common/lib/tests/routing.test.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/portal-config.mainnet.example.yaml
  portal/server/portal-config.testnet.example.yaml
  portal/server/src/configuration_loader.test.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/url_fetcher_factory.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
Due: none

chore(e2e): clean up workflow
  .github/workflows/e2e-upgrade.yml
Due: none

test(e2e): verify old site with test-branch portal
  .github/workflows/e2e-upgrade.yml
Due: none

Run bunx prettier
  portal/common/lib/tests/instrumentation.test.ts
Due: none

fix(portal): simplify aggregator histogram to use siteId string param
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/instrumentation.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
Due: none

fix(server-portal): drop blobOrPatchId and path labels from aggregator histogram (#691)
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/instrumentation.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
Due: none

fix(e2e): fail fast when portal doesn't start
  .github/workflows/e2e-upgrade.yml
Due: none

Remove devnet from Published.toml because it wipes often
  move/walrus_site/Published.toml
Due: none

feat(contract): Site new df `b"redirects"` working similar to routes (#682)
  .github/workflows/code.yml
  .github/workflows/lint.yml
  licensesnip.config.jsonc
  move/walrus_site/.prettierrc
  move/walrus_site/Move.lock
  move/walrus_site/Move.toml
  move/walrus_site/Published.toml
  move/walrus_site/sources/events.move
  move/walrus_site/sources/metadata.move
  move/walrus_site/sources/redirects.move
  move/walrus_site/sources/site.move
  move/walrus_site/tests/redirects_tests.move
  move/walrus_site/tests/site_tests.move
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): sew-886 Support deploying sites with Redirects (#686)
  .github/workflows/code.yml
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/config.rs
  site-builder/src/lib.rs
  site-builder/src/mvr.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/estimates.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/sitemap.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/unit_tests/config.tests.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/tests/localnode/mod.rs
  site-builder/tests/quilts_dry_run_regression.rs
  site-builder/tests/redirects.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): sew-887 Support redirecting 3xx on Site Redirects matches (#687)
  portal/bun.lock
  portal/common/lib/src/bcs_data_parsing.ts
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/types/index.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/bcs_data_parsing.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/package.json
Due: none

test(e2e): add upgrade testing workflow and redirect verification (#690)
  .github/workflows/e2e-upgrade.yml
  examples/snake/ws-resources.json
  move/walrus_site/Published.toml
  portal/common/.env.test
  portal/common/lib/src/resource.ts
  portal/common/lib/tests/routing.test.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/portal-config.mainnet.example.yaml
  portal/server/portal-config.testnet.example.yaml
  portal/server/src/configuration_loader.test.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/url_fetcher_factory.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
  scripts/verify-snake-site.sh
  site-builder/src/site/manager.rs
  site-builder/src/types.rs
  site-builder/tests/redirects.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): use multi_get for resource dynamic field fetching
  site-builder/src/site.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(ci): clear checkout credentials before pushing with automerge token
  .github/workflows/gen-version-bump-pr.yml
Due: none

fix(ci): clear checkout credentials before pushing with automerge token (#693)
  .github/workflows/gen-version-bump-pr.yml
Due: none

Add dev-docs md for contract-upgrading
  dev-docs/contract-upgrade-process.md
Due: none

Create upgrade tx
  dev-docs/contract-upgrade-process.md
Due: none

fix(e2e): build site-builder from main instead of using suiup
  .github/workflows/e2e-upgrade.yml
Due: none

refactor(e2e): always publish fresh package from main
  .github/workflows/e2e-upgrade.yml
Due: none

fix(e2e): use --pubfile-path to avoid Published.toml conflicts
  .github/workflows/e2e-upgrade.yml
Due: none

fix(e2e): use test-publish/test-upgrade for ephemeral pubfile
  .github/workflows/e2e-upgrade.yml
Due: none

fix(e2e): add --build-env testnet for ephemeral pubfile
  .github/workflows/e2e-upgrade.yml
Due: none

fix(e2e): use regular publish/upgrade, strip Published.toml entry
  .github/workflows/e2e-upgrade.yml
Due: none

fix(e2e): fix e2e snake & upgrade workflow (#698)
  .github/workflows/e2e-upgrade.yml
Due: none

Update testnet package ids
  move/walrus_site/Published.toml
  sites-config.testnet-singleton.yaml
  sites-config.yaml
Due: none

Update mainnet package ids and version
  move/walrus_site/Published.toml
  sites-config.mainnet-singleton.yaml
  sites-config.yaml
Due: none

chore: Update package ids after upgrade (#697)
  move/walrus_site/Published.toml
  sites-config.mainnet-singleton.yaml
  sites-config.testnet-singleton.yaml
  sites-config.yaml
Due: none

chore(release): Bump versions
  Cargo.toml
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

update lock files
  Cargo.lock
  portal/bun.lock
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump versions for release v2.8.0 (#699)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add release and MVR PackageInfo steps to contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Add lessons learned and post-upgrade steps to contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Add Published.toml to config update step in contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Add config file update step to contract upgrade docs
  dev-docs/contract-upgrade-process.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
