Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

Add DeployQuilts command under the flag
  site-builder/src/args.rs
  site-builder/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Deploy using quilts tests
  site-builder/tests/deploy_quilts.rs
  site-builder/tests/helpers/mod.rs
  site-builder/tests/quilts_epochs.rs
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Test with update-name using deploy
  site-builder/src/lib.rs
  site-builder/tests/deploy_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update to correct fn name
  site-builder/tests/deploy_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix typo 0.html -> file_0.html
  site-builder/tests/deploy_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Add DeployQuilts command under the feature-flag (#583)
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/tests/deploy_quilts.rs
  site-builder/tests/helpers/mod.rs
  site-builder/tests/quilts_epochs.rs
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add advanced tests for deploying with --list-directory
  site-builder/src/lib.rs
  site-builder/src/util.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix {} fmt errors
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix {:#?} fmt errors
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix some comments
  site-builder/tests/list_directory.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test(site-builder): Add advanced tests for deploying with --list-directory (#584)
  site-builder/src/lib.rs
  site-builder/src/util.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/localnode/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Reproduce and fix bug
  site-builder/src/site/manager.rs
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): Route insertion after all-resources are created (#586)
  site-builder/src/site/manager.rs
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add 'and storing Quilts'
  site-builder/src/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Passing it as a required argument
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
  site-builder/tests/localnode/args_builder/publish_options_builder/walrus_store_options_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

style(site-builder): Improve message when storing quilts: add 'and storing Quilts' (#585)
  site-builder/src/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add feature flag for update-quilts
  site-builder/src/args.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Forgot to add in lib.rs as well
  site-builder/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): update-quilts should be under `quilts-experimental` feature flag (#588)
  site-builder/src/args.rs
  site-builder/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update versions and run cargo build and bun update
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Update versions and run cargo build and bun update (#589)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use create_test_site helper fn
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, merge import lines
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): Remove some code-duplication in update_quilts tests (#590)
  site-builder/tests/update_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Tests on the limit of the slot-size
  site-builder/tests/deploy_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Minor, fix {:?} format
  site-builder/tests/deploy_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test(site-builder): Tests on the limit of the slot-size (#591)
  site-builder/tests/deploy_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove base36 conversion, now that valid filenames are supported as patch identifiers
  site-builder/src/site/resource.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add extended unicode tests
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Remove base36 conversion for patch file-identifiers (#592)
  site-builder/src/site/resource.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/publish_quilts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add range as per walrus output in StoredQuiltPatch
  site-builder/src/walrus/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Also update the sui and walrus dependencies
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Also update toolchain and SUI_TAG in workflow
  .github/workflows/code.yml
  rust-toolchain.toml
Due: none

Fix anyhow fmt errors
  site-builder/src/args.rs
  site-builder/src/config.rs
  site-builder/src/publish.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix clippy warning introduced in newer toolchain version
  site-builder/src/site.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): Include range for StoredQuiltPatch, update Rust toolchain & sui walrus deps, (#593)
  .github/workflows/code.yml
  Cargo.lock
  rust-toolchain.toml
  site-builder/Cargo.toml
  site-builder/src/args.rs
  site-builder/src/config.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
  site-builder/src/walrus/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Generate walrus sites ts bindings using sui-ts-codegen
  ts-sdk-site-builder/.gitignore
  ts-sdk-site-builder/CLAUDE.md
  ts-sdk-site-builder/README.md
  ts-sdk-site-builder/bun.lock
  ts-sdk-site-builder/index.ts
  ts-sdk-site-builder/package.json
  ts-sdk-site-builder/src/generated/utils/index.ts
  ts-sdk-site-builder/src/generated/walrus_site/deps/sui/object.ts
  ts-sdk-site-builder/src/generated/walrus_site/deps/sui/vec_map.ts
  ts-sdk-site-builder/src/generated/walrus_site/events.ts
  ts-sdk-site-builder/src/generated/walrus_site/metadata.ts
  ts-sdk-site-builder/src/generated/walrus_site/site.ts
  ts-sdk-site-builder/sui-codegen.config.ts
  ts-sdk-site-builder/tsconfig.json
Due: none

Publish first site - no CLI
  ts-sdk-site-builder/index.ts
Due: none

Rename src/generated/ to contracts/sites
  ts-sdk-site-builder/contracts/sites/utils/index.ts
  ts-sdk-site-builder/contracts/sites/walrus_site/deps/sui/object.ts
  ts-sdk-site-builder/contracts/sites/walrus_site/deps/sui/vec_map.ts
  ts-sdk-site-builder/contracts/sites/walrus_site/events.ts
  ts-sdk-site-builder/contracts/sites/walrus_site/metadata.ts
  ts-sdk-site-builder/contracts/sites/walrus_site/site.ts
  ts-sdk-site-builder/index.ts
  ts-sdk-site-builder/sui-codegen.config.ts
Due: none

Basic README.md
  ts-sdk-site-builder/README.md
Due: none
