Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo test
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

feat(site-builder): Add --version support (#226)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): new unchanged resource operation (#238)
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): add blob hash to resource fields (#219)
  Cargo.lock
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/crypto.ts
  portal/common/lib/http/http_error_responses.ts
  portal/common/lib/http/http_status_codes.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
  portal/common/static/hash-mismatch.html
  portal/pnpm-lock.yaml
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder)!: implement resource ranges in the site builder (#243)
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): mock system calls to reduce benchmark variance (#227)
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

fix(portal): bug in redirects
  portal/common/lib/resource.ts
Due: none

fix(portal): bug in redirects (#255)
  portal/common/lib/resource.ts
Due: none

chore: updates
  portal/common/package.json
  portal/pnpm-lock.yaml
  portal/server/package.json
  portal/worker/package.json
Due: none

fix: add check that suins name has not changed to cache
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.test.ts
  portal/server/app/route.ts
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

fix: server update
  portal/server/app/route.ts
Due: none

fix: add check that suins name has not changed to cache (#256)
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.test.ts
  portal/common/package.json
  portal/pnpm-lock.yaml
  portal/server/app/route.ts
  portal/server/package.json
  portal/worker/package.json
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

fix(publish-landing-page): update config path to sites-config.yaml
  publish_landing_page.sh
Due: none

fix(publish-landing-page): update config path to sites-config.yaml (#257)
  publish_landing_page.sh
Due: none

fix: ensure the fallback returns uncompressed responses
  portal/server/app/route.ts
Due: none

feat: show when the fallback is used also in prod
  portal/server/app/route.ts
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.prod.js
Due: none

fix: ensure the fallback returns uncompressed responses (#259)
  portal/server/app/route.ts
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.prod.js
Due: none

fix: remove prints
  site-builder/src/site/contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: ensure that the right operations are performed
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): ensure that `force` works and increments the end epoch (#260)
  site-builder/src/site/contracts.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): do not force store
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump version to 1.0.0
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(hack): allow to specify pre-stored blobs on the site
  site-builder/src/main.rs
  site-builder/src/site.rs
  site-builder/src/site/config.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: ensure that the hex hash is correctly serialized
  site-builder/Cargo.toml
  site-builder/src/site/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): add multi ptb sending hack
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump version to 1.0.0 (#261)
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): check in walrus config for sites-config.yaml
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix error message
  site-builder/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump builder version
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update Cargo.lock
  Cargo.lock
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): remove epochs default value
  site-builder/src/publish.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: delete benchmarks for resource and page_fetching
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

chore: delete benchmarks for resource and page_fetching (#269)
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Due: none

Refactor names of multiGetObject responses
  portal/common/lib/resource.ts
Due: none

Refactor: create fetchObjectPairData
  portal/common/lib/resource.ts
Due: none

Add comment for suins resolution optimization
  portal/common/lib/page_fetching.ts
Due: none

Make tests pass
  portal/common/lib/resource.test.ts
Due: none

Include root objectId to mutliGetObjects
  portal/common/lib/resource.ts
Due: none

Refactor: break into multiple functions fetchResource
  portal/common/lib/resource.ts
Due: none

Call getObject outside of checkRedirect
  portal/common/lib/redirects.ts
  portal/common/lib/resource.ts
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-test: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy-with-tests: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  clippy: any of: ^(site-builder/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(site-builder/|Cargo\.(toml|lock)$)
