Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

Publish new contract and update wherever
  move/walrus_site/Move.lock
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(contract): Add range field to Resource (#234)
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder/contracts): add possiblity to specify the default routes for a site (#233)
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/Move.toml
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
  portal/common/lib/constants.ts
  portal/worker/src/walrus-sites-portal-register-sw.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fetch page first - then resolve with Routes
  portal/common/lib/page_fetching.ts
Due: none

Use old contract version that does not include Ranges
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: new unchanged resource operation
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use right boolean operation
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Improve performance in matchPathToRoute
  portal/common/lib/routing.ts
Due: none

merge conflict
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: pass fmt check
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): new unchanged resource operation (#238)
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): parallelize initial blob id computation
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): parallelize calls to the walrus cli
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): improve output when forcing a store, reduce latency when not forcing
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/walrus.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): integrate resource routing to portal (#235)
  examples/snake/ws-resources.json
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/types/index.ts
  portal/server/next-env.d.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix CORS error in for content proxying to work
  portal/server/vercel.json
Due: none

feat(site-builder): parallelize calls to the walrus cli (#241)
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): better move bindings
  site-builder/src/main.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/macros.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(site-builder): better move bindings (#244)
  site-builder/src/main.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/macros.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
  site-builder/src/types.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat!(site-builder): implement resource ranges in the site builder
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: config
  move/walrus_site/Move.lock
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder)!: implement resource ranges in the site builder (#243)
  move/walrus_site/sources/site.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/resource.rs
  site-builder/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: minor contract changes
  move/walrus_site/sources/site.move
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: portal can parse ranges
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.ts
  site-builder/assets/builder-example.yaml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Server portal: integrate devnet fallback forwarding
  portal/server/app/route.ts
Due: none

Use HttpStatusCodes.NOT_FOUND instead of hard-coded status
  portal/worker/src/walrus-sites-sw.ts
Due: none

Support devnet fallback portal
  portal/worker/src/walrus-sites-sw.ts
Due: none

Set FALLBACK_DEVNET_PORTAL as env variable
  portal/common/lib/constants.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

Fix forwardPath URL & refactor
  portal/server/app/route.ts
  portal/server/next-env.d.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

Improve readability
  portal/worker/src/walrus-sites-sw.ts
Due: none

Use https on re-fetch
  portal/server/app/route.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

Add fallback portal definition to constants
  portal/common/lib/constants.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

Refactor: break down handleFetchRequest closure into shorter functions
  portal/worker/src/walrus-sites-sw.ts
Due: none

Use ubuntu 22.04 instead of ubuntu latest
  .github/workflows/codspeed.yml
Due: none

Fix editor config lint check using ubuntu 22.04
  .github/workflows/lint.yml
Due: none

feat(portal): propagate requests to a fallback devnet portal (#242)
  .github/workflows/codspeed.yml
  .github/workflows/lint.yml
  portal/server/app/route.ts
  portal/server/next-env.d.ts
  portal/worker/src/walrus-sites-sw.ts
Due: none

feat(portal): add ranges to the portal
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.ts
  portal/common/lib/types/index.ts
Due: none

chore: tests
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
Due: none

fix: minor changes
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
Due: none

fix: types for ts range parsing
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/types/index.ts
Due: none
