Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "3.0.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
# TODO: Consider repointing this to the upstream version again when https://github.com/notken12/licensesnip/pull/10 is merged.
- repo: https://github.com/wbbradley/licensesnip
  rev: a1037505417d06a3d311ec3b2993205127ee9e03
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: typos-dict-v0.11.37
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.16.3
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.1.0
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: prettier
    name: prettier
    entry: sh -c 'cd ts-sdk && bunx prettier --write "${@#ts-sdk/}"' --
    language: system
    types_or: [javascript, jsx, ts, tsx, css, scss, less, json, yaml, markdown, html]
    files: ^ts-sdk/
    pass_filenames: true

Fix other 2 places where error was not passed correctly to logger
  portal/common/lib/src/decompress_data.ts
  portal/server/src/redis_client_facade.ts
Due: none

fix(portal): Print errors correctly in logger (#640)
  portal/common/lib/src/decompress_data.ts
  portal/common/lib/src/logger.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/server/index.ts
  portal/server/src/redis_client_facade.ts
Due: none

Add prettier lint workflow for ts files
  .github/workflows/lint.yml
Due: none

Be explicit about editorconfig
  .github/workflows/lint.yml
Due: none

Add .git-blame-ignore-revs for cleaning git-blame history from portal fmt
  .git-blame-ignore-revs
Due: none

ci: Add prettier lint workflow for ts files (#644)
  .git-blame-ignore-revs
  .github/workflows/lint.yml
Due: none

Convert base36 to ObjectID. AI Slop, didn't look at the code.
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/util.rs
  site-builder/tests/convert.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): error handling on invalid glob pattern in ws-resources.json
  site-builder/src/preprocessor.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/src/unit_tests/util.tests.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Include .cause in error log
  portal/common/lib/src/logger.ts
Due: none

style(site-builder): apply rustfmt formatiing
  site-builder/src/unit_tests/util.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(portal): Include .cause in error log (#649)
  portal/common/lib/src/logger.ts
Due: none

fix(portal): Handle aggregator 403/404 errors with better messaging
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/http/http_status_codes.ts
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/http_error_responses.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

review(portal): bring back an important comment about returning genericError response
  portal/common/lib/src/url_fetcher.ts
Due: none

refactor(portal): Simplify FetchUrlResult types per review feedback
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

refactor(portal): Use status field discriminator for FetchUrlResult
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

fix(portal): Differentiate expired blob errors from missing resources
  portal/common/html_templates/404-page.template.html
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

feat(portal): Handle aggregator 403/404 errors with better messaging (#646)
  portal/common/html_templates/404-page.template.html
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/http/http_status_codes.ts
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/http_error_responses.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
Due: none

feat(portal): Priority-based URL selector with sequential fallback
  portal/common/.env.test
  portal/common/lib/src/priority_executor.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/priority_executor.test.ts
  portal/common/lib/tests/resource.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/suins.test.ts
  portal/common/lib/tests/url_fetcher_error_handling.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
  portal/docker/server/Dockerfile
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/src/configuration_loader.ts
  portal/server/src/main.ts
  portal/server/src/url_fetcher_factory.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/src/walrus-sites-sw.ts
Due: none

Update AGGREGATOR_URL to AGGREGATOR_URL_LIST in webpack.config
  portal/worker/webpack.config.common.js
Due: none

Remove double sorting
  portal/common/lib/src/priority_executor.ts
  portal/common/lib/tests/priority_executor.test.ts
Due: none

Remove unused allowlist
  portal/docker/server/Dockerfile
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/src/allowlist_checker.ts
  portal/server/src/allowlist_checker_interface.ts
  portal/server/src/blocklist_checker.ts
  portal/server/src/blocklist_healthcheck.ts
  portal/server/src/configuration_loader.ts
Due: none

Do not pass string in order to cast to function. Pass function instead.
  portal/common/lib/src/rpc_selector.ts
Due: none

Do not keep reading from the env everytime
  portal/common/lib/src/rpc_selector.ts
Due: none

Have delayMs as a constructor arg
  portal/common/lib/src/priority_executor.ts
Due: none

Clear timeout
  portal/common/lib/src/rpc_selector.ts
Due: none

prettier
  portal/common/lib/src/priority_executor.ts
  portal/common/lib/src/rpc_selector.ts
Due: none

fix: ensure http headers are lowercased
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.resource.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update version to 2.4.0
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add context to errors
  site-builder/src/args.rs
  site-builder/src/site/manager.rs
  site-builder/src/sitemap.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Also add tracing::debug while sending sui ptbs
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Update version to 2.4.0 (#653)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

cargo fmt
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): Add anyhow error contexts (#654)
  site-builder/src/args.rs
  site-builder/src/site/manager.rs
  site-builder/src/sitemap.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

test(site-builder): add blob deduplication test for SEW-290
  site-builder/tests/blob_dedup.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): add contextto glob pattern error in headers field
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc
