Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

Remove duplication preparing resources for publish/update and update-resources
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Improve readability: ResourceArg -> ResourcePaths
  site-builder/src/args.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/args.tests.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix typo
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove fixed TODO comment
  site-builder/src/publish.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Set --resources as requires argument
  site-builder/src/args.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add happy test for single resource being added with update-resources
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove unused --max-parallel-stores
  site-builder/src/args.rs
  site-builder/tests/localnode/args_builder/publish_options_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Update multiple resources update-resources --resources (#596)
  site-builder/src/args.rs
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/args.tests.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/types.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/localnode/args_builder.rs
  site-builder/tests/localnode/args_builder/publish_options_builder.rs
  site-builder/tests/publish.rs
  site-builder/tests/update_resources.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Bump versions and update Sui and Walrus dependencies
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix dev-dependency issue
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update deny.toml to include a more permissive Apache 2 license, and ignore multiple versions of const-str
  deny.toml
Due: none

Sort dependencies of site-builder
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use skip-tree instead of skip, similar to Walrus
  deny.toml
Due: none

chore: Bump versions and update Sui and Walrus dependencies (#598)
  Cargo.lock
  Cargo.toml
  deny.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update github-action, remove --check-extend
  .github/actions/deploy/action.yml
Due: none

fix(ci): Update github-action, remove --check-extend (#600)
  .github/actions/deploy/action.yml
Due: none

Add aggregator fetching metric
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
Due: none

Add unit test for instrumentation and aggregator-time
  portal/common/lib/tests/instrumentation.test.ts
Due: none

Add test for url-fetcher records instrumentation metrics
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
Due: none

Use node instead of bun in test
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
Due: none

perf(portal): Add aggregator fetching metric (#595)
  portal/common/lib/src/instrumentation.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/instrumentation.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
Due: none

Move resource tests to unit_tests
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/tests/quilts_dry_run_regression.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Files larger than --max-quilt-size are put in a separate quilt
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.resource.tests.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Update --max-quilt-size docstring
  site-builder/src/args.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(site-builder): Do not break on file larger than --max-quilt-size (#602)
  site-builder/src/args.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/tests/quilts_dry_run_regression.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Limit max-move-calls to 1000.
  site-builder/src/site/builder.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix typo
  site-builder/src/site/builder.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): Enhance error handling with 503 and 500 responses for service unavailability and unhandled exceptions
  portal/common/lib/src/http/http_error_responses.ts
  portal/common/lib/src/http/http_status_codes.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/http_error_responses.test.ts
Due: none

Provide two parameters in error functions to fix the flow
  portal/common/lib/src/http/http_error_responses.ts
Due: none

Use direct string imports for HTML templates instead of .toString()
  portal/common/lib/src/http/http_error_responses.ts
Due: none

fix(site-builder): Limit max-move-calls to 1000. (#603)
  site-builder/src/site/builder.rs
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add fallback HTML for error responses when template imports fail in CI
  portal/common/lib/src/http/http_error_responses.ts
Due: none

A bit hacky. Optimally, the RetriableSuiClient should use the WalletContext
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Correct type conversion
  portal/common/lib/src/http/http_error_responses.ts
Due: none

Remove other RetriableSuiClient constructors
  site-builder/src/retry_client.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix lint error
  site-builder/src/retry_client.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(gh-actions): [SEW-380] Updates the migrated deploy github action
  .github/actions/deploy/action.yml
  .github/workflows/deploy-vite-react-ts.yml
  .gitignore
  .licensesnipignore
  examples/vite-react-ts/.gitignore
  examples/vite-react-ts/README.md
  examples/vite-react-ts/eslint.config.js
  examples/vite-react-ts/index.html
  examples/vite-react-ts/package-lock.json
  examples/vite-react-ts/package.json
  examples/vite-react-ts/public/vite.svg
  examples/vite-react-ts/src/App.css
  examples/vite-react-ts/src/App.tsx
  examples/vite-react-ts/src/assets/react.svg
  examples/vite-react-ts/src/index.css
  examples/vite-react-ts/src/main.tsx
  examples/vite-react-ts/src/vite-env.d.ts
  examples/vite-react-ts/tsconfig.app.json
  examples/vite-react-ts/tsconfig.json
  examples/vite-react-ts/tsconfig.node.json
  examples/vite-react-ts/vite.config.ts
  sonar-project.properties
Due: none

chore(gh-actions): [SEW-380] Updates the migrated deploy github action * fixes mistakenly removed sonar config item * updates deploy-snake job to use the new external action
  .github/workflows/deploy-snake.yml
  sonar-project.properties
Due: none

chore(gh-actions): [SEW-380] Updates the migrated deploy github action * updates comment
  sonar-project.properties
Due: none

chore(gh-actions): [SEW-380] Updates the migrated deploy github action (#601)
  .github/actions/deploy/action.yml
  .github/workflows/deploy-snake.yml
  .github/workflows/deploy-vite-react-ts.yml
  .gitignore
  .licensesnipignore
  examples/vite-react-ts/.gitignore
  examples/vite-react-ts/README.md
  examples/vite-react-ts/eslint.config.js
  examples/vite-react-ts/index.html
  examples/vite-react-ts/package-lock.json
  examples/vite-react-ts/package.json
  examples/vite-react-ts/public/vite.svg
  examples/vite-react-ts/src/App.css
  examples/vite-react-ts/src/App.tsx
  examples/vite-react-ts/src/assets/react.svg
  examples/vite-react-ts/src/index.css
  examples/vite-react-ts/src/main.tsx
  examples/vite-react-ts/src/vite-env.d.ts
  examples/vite-react-ts/tsconfig.app.json
  examples/vite-react-ts/tsconfig.json
  examples/vite-react-ts/tsconfig.node.json
  examples/vite-react-ts/vite.config.ts
  sonar-project.properties
Due: none
