Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "2.7.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
- repo: https://github.com/notken12/licensesnip
  rev: 19b1186
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: v1.22.7
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.14.24
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.0.9
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false

Claude gives it one more shot
  .github/workflows/cost-regression.yml
Due: none

Go back to jq for balance parsing
  .github/workflows/cost-regression.yml
Due: none

Do not depend on generate_synthetic_site for now
  .github/workflows/cost-regression.yml
Due: none

Use script instead of head -c directly
  .github/workflows/cost-regression.yml
Due: none

Bump patch version
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(release): Bump patch version (#622)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Use `permissions` for extra security
  .github/workflows/cost-regression.yml
Due: none

Remove GITHUB_TOKEN from env
  .github/workflows/cost-regression.yml
Due: none

chore(server-portal): remove Amplitude integration
  portal/server/package.json
  portal/server/src/amplitude.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/main.ts
Due: none

Update bun.lock
  portal/bun.lock
Due: none

chore(server-portal): remove Amplitude integration (#620)
  portal/bun.lock
  portal/server/package.json
  portal/server/src/amplitude.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/main.ts
Due: none

test: Add walrus and seal docs builder workflow to be used for performance regression testing
  .github/workflows/perf-build-seal-docs.yml
  .github/workflows/perf-build-walrus-docs.yml
  .github/workflows/perf-test-builds.yml
Due: none

refactor(ci): unify build artifact output path
  .github/workflows/perf-build-seal-docs.yml
  .github/workflows/perf-build-walrus-docs.yml
Due: none

fix(ci): use github.token instead of secrets.GITHUB_TOKEN
  .github/workflows/perf-publish-site.yml
  .github/workflows/perf-test-builds.yml
Due: none

refactor(ci): consolidate publish workflow with sequential steps
  .github/workflows/perf-publish-site.yml
  .github/workflows/perf-test-builds.yml
Due: none

refactor(ci): remove the on push for the perf-test-builds.yml
  .github/workflows/perf-test-builds.yml
Due: none

extend the number of digits in MIST to SUI rounding output
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

use package address from config
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(ci): modify the perf-build-seal-docs.yml to copy ws-resources.json into seal-docs build folder
  .github/workflows/perf-build-seal-docs.yml
Due: none

ci: add push trigger on perf-test-builds.yml for testing before we merge the PR
  .github/workflows/perf-test-builds.yml
Due: none

fix(ci): increase gas budget for site deploys
  .github/workflows/perf-publish-site.yml
Due: none

fix(ci): move gas-budget flag to correct position
  .github/workflows/perf-publish-site.yml
Due: none

fix(ci): remove object_id from ws-resources.json for fresh deploy
  .github/workflows/perf-build-seal-docs.yml
Due: none

feat(ci): add stake-wal and landing-page synthetic site builds
  .github/workflows/perf-build-landing-page.yml
  .github/workflows/perf-build-stake-wal.yml
  .github/workflows/perf-publish-site.yml
  .github/workflows/perf-test-builds.yml
  scripts/generate_synthetic_site.sh
Due: none

feat(ci): add cost tracking on the perf-publish-site.yml workflow
  .github/workflows/perf-publish-site.yml
  .github/workflows/perf-test-builds.yml
  scripts/deploy_with_cost.sh
  scripts/get_balance.sh
Due: none

feat(ci): add site destruction after perf deploys for accurate cost tracking
  .github/workflows/perf-publish-site.yml
  .github/workflows/perf-test-builds.yml
  scripts/deploy_with_cost.sh
Due: none

feat(ci): add deploy time tracking on the perf-publish-site.yml
  .github/workflows/perf-publish-site.yml
  scripts/deploy_with_cost.sh
Due: none

fix(ci): handle empty outputs in cost summary
  .github/workflows/perf-publish-site.yml
Due: none

feat(ci): add update cost tracking to perf regression tests
  .github/actions/site-operation/action.yml
  .github/workflows/perf-publish-site.yml
  scripts/deploy_with_cost.sh
  scripts/modify_docusaurus.sh
  scripts/modify_mkdocs.sh
  scripts/modify_vite.sh
  scripts/site_builder_with_cost.sh
Due: none

ci: add sew-609 on the push-branches list on perf-test-builds.yml
  .github/workflows/perf-test-builds.yml
Due: none

fix(scripts): add Linux compatibility for modification scripts
  scripts/modify_docusaurus.sh
  scripts/modify_mkdocs.sh
  scripts/modify_vite.sh
Due: none

Only store file-changes into new quilts
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/unit_tests/site.resource.tests.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/update.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add extend and current_epoch commands to walrus.
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Handle some todos
  site-builder/src/lib.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/sitemap.rs
  site-builder/src/util.rs
  site-builder/src/walrus/command.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Fix extending old blobs to new end epoch
  site-builder/src/lib.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/sitemap.rs
  site-builder/src/unit_tests/site.manager.tests.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Move stuff out of util.rs
  site-builder/src/args.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/resource.rs
  site-builder/src/suins.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Resolve some todos, refine others
  site-builder/src/lib.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
  site-builder/src/walrus.rs
  site-builder/tests/deploy.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Move default::cache_ttl to the WalrusConfig module
  site-builder/src/args.rs
  site-builder/src/walrus/config.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Add tests for the new redeploy quilt-append pattern
  site-builder/tests/helpers/mod.rs
  site-builder/tests/list_directory.rs
  site-builder/tests/redeploy_quilts_append.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

Remove unecessary collection and iteration
  site-builder/src/site/resource.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc
