Repository MystenLabs/walrus-sites: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "3.0.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
# TODO: Consider repointing this to the upstream version again when https://github.com/notken12/licensesnip/pull/10 is merged.
- repo: https://github.com/wbbradley/licensesnip
  rev: a1037505417d06a3d311ec3b2993205127ee9e03
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: typos-dict-v0.11.37
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.16.3
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.1.0
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: prettier
    name: prettier
    entry: sh -c 'cd ts-sdk && bunx prettier --write "${@#ts-sdk/}"' --
    language: system
    types_or: [javascript, jsx, ts, tsx, css, scss, less, json, yaml, markdown, html]
    files: ^ts-sdk/
    pass_filenames: true

fix(site-builder): detect object version conflicts over gRPC
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/site/manager.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(site-builder): wait for checkpoint after gRPC tx execution
  site-builder/src/util.rs
Due: cargo-fmt, cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.10.0
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.10.0 (#719)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(portal): read Sui state over gRPC instead of JSON-RPC
  portal/bun.lock
  portal/common/lib/src/redirects.ts
  portal/common/lib/src/resource.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/grpc_get_objects_shape.mainnet.test.ts
  portal/common/lib/tests/resource.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
  portal/common/package.json
  portal/worker/package.json
Due: none

test(portal): guard against gRPC not-found error drift
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
Due: none

test(portal): make network drift guards fail loud, not skip
  portal/common/.env.test
  portal/common/lib/tests/grpc_get_objects_shape.test.ts
  portal/common/lib/tests/suins_exception_shape.test.ts
Due: none

fix(portal): distinguish transport errors from SuiNS not-found
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
Due: none

chore(portal): note RPCSelectorInterface is deletable tech debt
  portal/common/lib/src/rpc_selector.ts
Due: none

refactor(portal): pass routes/redirects fetch errors to the caller
  portal/common/lib/src/resource.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/routing.test.ts
Due: none

test(portal): cover checkRedirect; flag gRPC renders only v2 Display
  portal/common/lib/src/redirects.ts
  portal/common/lib/tests/redirects.test.ts
Due: none

test(portal): pin false-positive side of the error classifiers
  portal/common/lib/tests/error_classifiers.test.ts
Due: none

fix(portal): stop failover immediately on INVALID_ARGUMENT
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
Due: none

fix(portal): resolve invalid SuiNS names to null before failover
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
Due: none

chore(portal): log site-object misses; warn when serving orphaned resources
  portal/common/lib/src/resource.ts
  portal/common/lib/tests/resource.test.ts
Due: none

test(portal): fix redirect test passing by accident of truthiness
  portal/common/lib/tests/resource.test.ts
Due: none

test(portal): pin mock miss messages against isObjectNotFoundError
  portal/common/lib/tests/resource.test.ts
Due: none

docs(portal): fix stale Error-to-null claim in the gRPC drift guard
  portal/common/lib/tests/grpc_get_objects_shape.test.ts
Due: none

test(portal): use a full-width improbable id as the guaranteed miss
  portal/common/lib/tests/grpc_get_objects_shape.test.ts
Due: none

feat: portal migrate to GRPC (#721)
  portal/bun.lock
  portal/common/.env.test
  portal/common/lib/src/redirects.ts
  portal/common/lib/src/resource.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/rpc_selector.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/error_classifiers.test.ts
  portal/common/lib/tests/grpc_get_objects_shape.test.ts
  portal/common/lib/tests/redirects.test.ts
  portal/common/lib/tests/resource.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/lib/tests/rpc_selector_get_name_record.test.ts
  portal/common/lib/tests/suins_exception_shape.test.ts
  portal/common/lib/tests/suins_exception_shape.testnet.test.ts
  portal/common/lib/tests/url_fetcher_instrumentation.test.ts
  portal/common/lib/tests/url_fetcher_resolve_object_id.test.ts
  portal/common/package.json
  portal/worker/package.json
Due: none

chore(site-builder): Update sui and walrus deps
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: resolve duplicate crate versions in cargo deny
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(site-builder): Update sui and walrus deps (#722)
  Cargo.lock
  site-builder/Cargo.toml
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.11.0
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Bump version to 2.11.0 (#723)
  Cargo.lock
  Cargo.toml
  portal/bun.lock
  portal/server/package.json
  portal/worker/package.json
  site-builder/Cargo.toml
  sonar-project.properties
Due: cargo-check, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(portal): validate route/redirect patterns and add a dedicated glob matcher
  portal/bun.lock
  portal/common/lib/src/route_patterns.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/route_patterns.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/package.json
Due: none

feat(portal): add a flag to gate glob route matching
  portal/common/lib/src/routing.ts
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/portal-config.mainnet.example.yaml
  portal/server/portal-config.testnet.example.yaml
  portal/server/src/configuration_loader.test.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/url_fetcher_factory.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
Due: none

fix(portal): resolve SonarCloud reliability issues in route matcher
  portal/common/lib/src/routing.ts
Due: none

feat(portal): match routes via glob when the flag is on
  portal/common/lib/src/route_patterns.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/route_patterns.test.ts
  portal/common/lib/tests/routing.test.ts
Due: none

test(portal): rename route_patterns.test.ts to path_patterns.test.ts
  portal/common/lib/tests/path_patterns.test.ts
Due: none

fix: typo catch-alls -> catch-all
  portal/common/lib/tests/path_patterns.test.ts
Due: none

feat(portal): pick the most-specific glob route/redirect match
  portal/common/lib/src/path_patterns.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/tests/path_patterns.test.ts
  portal/common/lib/tests/routing.test.ts
Due: none

fix(portal): map enable_glob_routing from YAML in the worker build
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/portal-config.mainnet.example.yaml
  portal/server/portal-config.testnet.example.yaml
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/webpack.config.common.js
Due: none

feat(portal): warn when glob routing would change a route target
  portal/common/lib/src/routing.ts
  portal/common/lib/tests/routing.test.ts
Due: none

fix: typo catch-alls -> catch-all patterns
  portal/common/lib/src/routing.ts
Due: none

test(portal): assert the flag-off to flag-on routing deltas
  portal/common/lib/tests/routing.test.ts
Due: none

fix(portal): aggregate unsafe-pattern skips into one info log
  portal/common/lib/src/routing.ts
  portal/common/lib/tests/routing.test.ts
Due: none

docs(portal): tighten the path_patterns header comment
  portal/common/lib/src/path_patterns.ts
Due: none

feat(portal): glob route/redirect matcher behind a flag, with a pattern cap (#720)
  portal/bun.lock
  portal/common/lib/src/path_patterns.ts
  portal/common/lib/src/routing.ts
  portal/common/lib/src/url_fetcher.ts
  portal/common/lib/tests/path_patterns.test.ts
  portal/common/lib/tests/routing.test.ts
  portal/common/package.json
  portal/server/.env.mainnet.example
  portal/server/.env.testnet.example
  portal/server/portal-config.mainnet.example.yaml
  portal/server/portal-config.testnet.example.yaml
  portal/server/src/configuration_loader.test.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/url_fetcher_factory.ts
  portal/worker/.env.mainnet.example
  portal/worker/.env.testnet.example
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
Due: none

fix(ci): read the release tag from the event payload
  .github/workflows/attach-binaries-to-release.yml
Due: none
